// Define variables for your color scheme

// For example:
$red: #ff2400;
$blue: #53c7f0;
$yellow: #f8b500;
$orange: #fb9a40;
$green: #89f8ce;
$gray: #bbbbbb;
$light-gray: #f2f2f2;
$dark-gray: #343434;
